#logout{
    float:right;
}

body,html{
    height:100%;
    margin:0;
    background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#CFCFCF), color-stop(0.72, white));
}

#container{
    width:700px;
    height:100%;
    margin:0 auto;
    background: #fff;
    border:3px solid #ccc;
    padding:0 15px;
    border-top:0;
    border-bottom:0;    
}

h1{
    font-family:Georgia,serif;
    text-shadow: gray 1px 1px 2px;
    margin-top:0;
    padding-top:25px;
    text-align:center;
}

UL, UL LI{
    list-style:none;
    margin:0;
    padding:0;
}
UL{
    margin:25px 0;
}

UL LI{
    padding:0;
}
UL LI .text{
    padding:5px 10px 5px 30px;
    cursor:pointer;
    display:block;
}
UL LI .text:hover{
    -webkit-border-radius:5px;
    border:1px solid #aaa;
    padding:4px 9px 4px 29px;
    background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#CFCFCF), color-stop(0.72, white));
}
UL LI .choose{
    float:left;
    margin: 10px 0px 0px 10px;
}

#centerMessage{
    font-family:Georgia,serif;
    text-shadow: gray 1px 1px 2px;
    text-align:center;
    font-size:48pt;
    padding-top:100px;
}