{% extends "base.html" %}
{% block head %}<title>Edit Answer</title>{% endblock %}

{% block body %}
<form action="{% url polls.views.save_answer %}" method="POST">
<input type="hidden" name="id" value="{{ answer.key.id }}" />
<label for="answer">
    Answer:
    <input type="text" name="text" id="answer" value="{{ answer.text }}"/>
</label><br/>
<label for="more_link">
    Link:
    <input type="text" name="more_link" id="more_link" value="{{ answer.more_link }}"/>
</label><br/>
<label for="new_link">
        Date:
        <input type="text" name="date" id="date" value="{{ answer.date|date:'d.m.Y' }}"/>
    </label><br/>
<input type="image" src="/static/images/save.png" />
</form>
{% endblock %}