<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<link type="text/css" rel="stylesheet" href="/static/style.css"/>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<script type="text/javascript">
$(function(){
    $("input[name=chooses]").click(function(){
        var num = $("input[name=chooses]:checked").length;
        if(num > 3){
            return false;
        }
    });
});
</script>
</head>
<body>

<div id="container">
    <h1>Голосование по темам на девклаб</h1>
    {% if is_admin %}
        <a href="{% url polls.views.statistics %}">Статистика!</a>
    {% endif %}
    <form action="" method="POST">
        {% if is_admin %}
            <textarea name="answer_name">{{ question.text }}</textarea>
            <input type="image" src="/static/images/save.png" />
        {% else %}
            {{ question.text }}<br/>
        {% endif %}
    </form>
    <form action="{% url polls.views.save_user_choice %}" method="POST">
        {% if not user %}
            <label for="username">Your name: <input type="text" name="username" id="username" /> OR Login with
            {% for name, url in login_urls_map.items %}<a href="{{ url }}">{{ name }}</a></label> {% endfor %}
        {% else %}
            <a href="{{ logout_url }}">Log out</a>
        {% endif %}
        <ul>
        {% for answer in answers %}
            <li><input class="choose" id="chooseId{{ answer.key.id }}" type="checkbox" value="{{ answer.key.id }}" name="chooses" {% if answer.key in user_answer_keys %}checked="checked" {% endif %} />
                <label class="text" for="chooseId{{ answer.key.id }}" >{{ answer.text }} (<a href="{{ answer.more_link }}">Ссылко</a>)</label>
            {% if is_admin %}
                <a href="{% url polls.views.delete_answer answer.key.id  %}"><img src="/static/images/cancel.png" alt="Delete answer"/></a>
                <a href="{% url polls.views.edit_answer answer.key.id  %}"><img src="/static/images/edit.png" alt="Edit answer"/></a>
            {% endif %}
            </li>
        {% endfor %}
        </ul>
        <button>Ответить!</button>
    </form>
    {% if is_admin %}
        <hr/>
        <form action="{% url polls.views.add_new_answer %}" method="POST">
        <label for="new_answer">
            Answer:
            <input type="text" name="new_answer" id="new_answer"/>
        </label><br/>
        <label for="new_link">
            Link:
            <input type="text" name="new_link" id="new_link"/>
        </label><br/>
        <input type="image" src="/static/images/add.png" />
        </form>
    {% endif %}
</div>
</body>
</html>